@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-2 {
    @apply text-xl font-bold capitalize;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: sans-serif; */
  background-color: white;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}
